*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family:'Commissioner-Medium' ;
    src: url(assets/fonts/static/Commissioner-Medium.ttf);
}

@font-face {
    font-family:'Commissioner-Regular' ;
    src: url(assets/fonts/static/Commissioner-Regular.ttf);
}

body{
    background: linear-gradient(135deg, #ffb199, lightsalmon);   
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: 'Commissioner-Medium';
    color: white;
    margin-top: 10%;
    margin-bottom: 20px;
}

main{
    background-color: white;
    width: 95%;
    max-width: 450px;
    height: 70%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
    padding: 10px;
}

.inputGroup{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Commissioner-Regular';
    margin-top: 3%;
    gap: 10px;
}

label{
    font-size: 1.5rem;
}

input {  
    height: 25px;
    width: 27%;
    border-radius: 3px;
    border: 1px solid black;
    padding-left: 5px;
}

input:focus {
  border-color: lightsalmon;
  box-shadow: 0 0 5px lightsalmon;
}

#button{
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    font-family: 'Commissioner-Medium';
    background-color: lightsalmon;
    color: white;
    border: 1px solid rgb(236, 113, 65);
    border-radius: 3px;
}

#button:hover{
  background-color: rgb(236, 113, 65);
  transform: scale(1.02);
  transition: all 0.2s ease;
}

.resultContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.resultOutput{
    font-size: 1.2em;
    text-align: center;
    font-family: 'Commissioner-Medium';
    line-height: 1.6;
    border: 2px solid lightsalmon;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px ;
    border-radius: 10px;
    display: none;
}


@media (max-width: 450px) {
main{
    height: auto;
    padding: 0px;
}

.inputGroup{
    margin-top: 5%;
    gap: 10px;
}

label{
    font-size: 1.2rem;
}

input {  
    height: 27px;
    width: 25%;
    border-radius: 3px;
    border: 1px solid black;
    padding-left: 5px;
}

input::placeholder {
    font-size: 0.5rem; 
}

#button{
    padding-bottom: 6px;
    padding-top: 6px;
    font-size: 0.75rem;
}

.resultContainer{
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resultOutput{
    font-size: 1.2em;
    text-align: center;
    font-family: 'Commissioner-Medium';
    line-height: 1.6;
    border: 2px solid lightsalmon;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    display: none;
}


@media (max-width: 330px) {
main{
    height: auto;
    padding: 0px;
}

.inputGroup{
    margin-top: 5%;
    gap: 7px;
}

label{
    font-size: 1rem;
}

input {  
    height: 27px;
    width: 26%;
    border-radius: 3px;
    border: 1px solid black;
    padding-left: 5px;
}

input::placeholder {
    font-size: 0.5rem; 
}

#button{
    padding-bottom: 6px;
    padding-top: 6px;
    font-size: 0.75rem;
}

.resultContainer{
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resultOutput{
    font-size: 1.2em;
    text-align: center;
    font-family: 'Commissioner-Medium';
    line-height: 1.6;
    border: 2px solid lightsalmon;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    display: none;
}
}
}